.Egg {
    height: 90%;
    width: 100%;
}
.EggTitle {
    width: 50%;
    height: 20%;
    font-size: 25px;
    float: left;
}
.Deadline {
    width: 50%;
    height: 20%;
    font-size: 20px;
    text-align: right;
    float: left;
}
.List {
    width: 100%;
    height: 60%;
    font-size: 22px;
}
.Group {
    width: 40%;
    height: 20%;
    font-size: 20px;
    float: left;
}
.Penalty {
    width: 30%;
    height: 20%;
    font-size: 20px;
    text-align: right;
    float: left;
}
.IconButton {
    width: 30%;
    height: 20%;
    float: right;
}
button {
    color: red;
    float: right;
}